.services-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.services-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.interessados:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #3f51b5;
}

.customScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px transparent;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar
{
	width: 0px;
	background-color: transparent;
}

.customScroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 1px transparent;
	background-color: transparent;
}