
  <div class="login-container" style="position:absolute; z-index:9999">

    <img src="https://drive.google.com/file/d/1mAsJ_iSbGU_D93khbCxjl0rFxJ5G7RvM/view?usp=sharing" id="lock">

    <span class="error" *ngIf="error">{{ error }}</span>

    <button mat-button color="primary" (click)="loginFb()" id="fb">Entrar com Facebook</button><br>
    <!--button routerLink="/login-email" id="email">Email</button-->

    <a routerLink="/signup" routerLinkActive="active" class="alc"><strong>Cadastrar Login</strong></a>
  </div>

  <img src="https://drive.google.com/file/d/1CAGMtXgHUKma9LiqqSYs6eOjbVL5kYy6/view?usp=sharing" id="fundo" class="img-container">

