
  <div class="login-container" style="position:absolute; z-index:9999">

    <img src="gs://speeds-admin.appspot.com/lock.svg" id="lock">

    <span class="error" *ngIf="error">{{ error }}</span>

    <button mat-button color="primary" (click)="loginFb()" id="fb">Login With Facebook</button><br>
    <!--button routerLink="/login-email" id="email">Email</button-->

    <a routerLink="/signup" routerLinkActive="active" class="alc"><strong>Cadastrar Login</strong></a>
  </div>

  <img src="gs://speeds-admin.appspot.com/fundo.jpg" id="fundo" class="img-container">

